@font-face {
  font-family: "Delius Unicase";
  src: url("../../src/fonts/Delius-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Klee One";
  src: url("../../src/fonts/KleeOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Klee One";
  src: url("../../src/fonts/KleeOne-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "RedRose";
  src: url("/src/fonts/RedRose-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Almarai";
  src: url("../../src/fonts/Almarai-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f1eb;
  color: #2f2f2f;
}

img {
  max-width: 100%;
  display: block;
}

button,
input {
  font: inherit;
}